<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mdm\ConsumeApi\Api\ColorListInterface" type="Mdm\ConsumeApi\Model\Color\ColorList"/>
    <preference for="Mdm\ConsumeApi\Api\Data\ColorDataInterface" type="Mdm\ConsumeApi\Model\Data\Color"/>
</config>

